apiVersion: v1
kind: Secret
metadata:
  name: guacamole
  namespace: guacamole
type: Opaque
stringData:
  database: guacamole
  user_login: guacamole
data:
  # Root password: changeit run  echo -n jimmysong|base64
  user_password: <user_password>
  mysql_root_password: <root_password>
